<ion-view title="Trash talk" id="page3" class=" ">
    <ion-content padding="true" class="has-header">
        <form id="chatTabDefaultPage-form3" class="list ">
            <ion-list id="chatTabDefaultPage-list6" class=" ">
                <ion-item id="chatTabDefaultPage-list-item16" class="  ">Item 1</ion-item>
                <ion-item id="chatTabDefaultPage-list-item17" class="  ">Item 2</ion-item>
                <ion-item id="chatTabDefaultPage-list-item18" class="  ">Item 3</ion-item>
                <label class="item item-input " id="chatTabDefaultPage-input6" name="Message">
                    <input type="text" placeholder="Type Message">
                </label>
            </ion-list>
        </form>
        <button id="chatTabDefaultPage-button3" class=" button button-positive  button-block ">Tap me!</button>
    </ion-content>
</ion-view>