<ion-view title="Fight" id="page3" class=" ">
    <ion-content padding="true" class="has-header">
      <ion-panel>
        <td-cards>
          <td-card ng-repeat="card in cards" on-destroy="cardDestroyed($index)" on-swipe-left="cardSwipedLeft(card)" on-swipe-right="cardSwipedRight(card)" on-partial-swipe="cardPartialSwipe(amt)" class="card-{{$index}}">
            <!-- <div class="image"> -->
              <div class="no-text">FLIGHT!</div>
              <img ng-src="{{card.image}}">
              <div class="yes-text">FIGHT!</div>
            <!-- </div> -->
          </td-card>
        </td-cards>

        <!-- <button class = "button" ng-click = "openModal()">Open</button> -->

    <script id="my-modal.html" type="text/ng-template">
      <ion-modal-view class="modal-backdrop">
        <ion-content>
        <h1 class="match">Time to FIGHT!</h1><img ng-src="{{match.image}}"></img>
        <br/>
        Name: {{match.name}}
        <br/>
        Weight: {{match.weight}} lbs.
        <br/>
        Location: {{match.location}}
        <br/>
        <button class = "button" ng-click = "closeModal()">Hide</button>
        </ion-content>
      </ion-modal-view>
    </script>

        <!-- <ion-popover-view>
        </ion-popover-view> -->
      </ion-panel>


      <!-- <td-cards>
        <td-card ng-repeat="card in cards" on-destroy="cardDestroyed($index)" on-swipe="cardSwiped($index)">

          <img ng-src="{{card.image}}">
        </td-card>
      </td-cards> -->

        <!-- <div class="">
            <img src="img/TvTxmF70SounKc1nTzZG_17.jpg" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
        </div> -->
    </ion-content>
</ion-view>
