<ion-view title="Trash Talk" id="page4" class=" ">
  <ion-content padding="true" class="has-header">
        <ion-list id="matchesTabDefaultPage-list4" class=" ">
            <label class="item item-input " id="matchesTabDefaultPage-input5" name="Search">
                <input ng-model="search" type="text" placeholder="Search New Matches">
            </label>
            <ion-item class="item-divider " id="matchesTabDefaultPage-list-item-divider3">New Matches</ion-item>
            <ion-item ng-repeat="user in matchedUsers | filter: {name: search}" id="matchesTabDefaultPage-list-item10" class="  ">
              <div ng-click="openModal(user)">
                <img ng-src="{{user.image}}"/>
                {{user.name}}
              </div>
            </ion-item>
            <!-- <ion-item id="matchesTabDefaultPage-list-item10" class="  ">{{matchedUsers}}</ion-item>
            <ion-item id="matchesTabDefaultPage-list-item11" class="  ">Item 2</ion-item>
            <ion-item id="matchesTabDefaultPage-list-item12" class="  ">Item 3</ion-item> -->
            <ion-item class="item-divider " id="matchesTabDefaultPage-list-item-divider4">Messages</ion-item>
        </ion-list>
        <ion-list id="matchesTabDefaultPage-list5" class=" ">
            <ion-item ng-repeat="chat in chats" id="matchesTabDefaultPage-list-item13" class="  ">
              <div ng-click="goToChat(user)">
                <img height="20px" width="20px style="display:inline" ng-src="{{chat.image}}"/>
                {{chat.name}}
              </div>
            </ion-item>
        </ion-list>

        <script id="view-profile.html" type="text/ng-template">
          <ion-modal-view class="modal-backdrop">
            <ion-content>
            <h1 class="match">Match Profile</h1><img ng-src="{{user.image}}"></img>
            <br/>
            Name: {{user.name}}
            <br/>
            Age: {{user.age}}
            <br/>
            Weight: {{user.weight}} lbs.
            <br/>
            Location: {{user.location}}
            <br/>
            <button class = "button" ng-click = "newChat(user)">Start Chat</button>
            <button class = "button" ng-click = "closeModal()">Hide</button>
            </ion-content>
          </ion-modal-view>
        </script>

    </ion-content>
</ion-view>
