<ion-view title="Trahs Talk" id="page6" class=" ">
    <ion-content padding="true" class="has-header">
        <ion-list id="matchesTabDefaultPage-list4" class=" ">
            <label class="item item-input " id="matchesTabDefaultPage-input5" name="Search">
                <input type="text" placeholder="Search New Matches">
            </label>
            <ion-item class="item-divider " id="matchesTabDefaultPage-list-item-divider3">New Matches</ion-item>
            <ion-item id="matchesTabDefaultPage-list-item10" class="  ">Item 1</ion-item>
            <ion-item id="matchesTabDefaultPage-list-item11" class="  ">Item 2</ion-item>
            <ion-item id="matchesTabDefaultPage-list-item12" class="  ">Item 3</ion-item>
            <ion-item class="item-divider " id="matchesTabDefaultPage-list-item-divider4">Messages</ion-item>
        </ion-list>
        <ion-list id="matchesTabDefaultPage-list5" class=" ">
            <ion-item id="matchesTabDefaultPage-list-item13" class="  ">Item 1</ion-item>
            <ion-item id="matchesTabDefaultPage-list-item14" class="  ">Item 2</ion-item>
            <ion-item id="matchesTabDefaultPage-list-item15" class="  ">Item 3</ion-item>
        </ion-list>
    </ion-content>
</ion-view>