<ion-view title="Settings" id="page5" class=" ">
  <ion-content padding="true" class="has-header">
    <form id="settingsTabDefaultPage-form2" class="list ">
      <ion-item class="item-divider " id="settingsTabDefaultPage-list-item-divider2">Discovery Settings</ion-item>
      <ion-item id="settingsTabDefaultPage-list-item4" class="  ">Location</ion-item>
      <label class="item item-input " id="settingsTabDefaultPage-input1">
        <input ng-model="settings.location" type="text" placeholder="{{user.location}}">
      </label>
      <ion-item id="settingsTabDefaultPage-list-item1" class="  ">Search Distance
        <span class="item-note">{{settings.searchRadius}}</span>
      </ion-item>
      <ion-item class="range range-positive " id="settingsTabDefaultPage-range1">
        <rzslider rz-slider-model="settings.searchRadius" rz-slider-options="settings.options"></rzslider>
      </ion-item>
      <ion-item id="settingsTabDefaultPage-list-item2" class="  ">Select Weight
        <span class="item-note">{{settings.minWeight}}-{{settings.maxWeight}}</span>
      </ion-item>
      <ion-item class="range range-positive " id="settingsTabDefaultPage-range3">
        <rzslider rz-slider-model="settings.minWeight" rz-slider-high="settings.maxWeight" rz-slider-options="settings.options"></rzslider>
      </ion-item>
      <ion-item id="settingsTabDefaultPage-list-item3" class="  ">Show Ages
        <span class="item-note">{{settings.minAge}}-{{settings.maxAge}}</span>
      </ion-item>
      <ion-item class="range range-positive " id="settingsTabDefaultPage-range2">
        <rzslider rz-slider-model="settings.minAge" rz-slider-high="settings.maxAge" rz-slider-options="settings.options"></rzslider>
      </ion-item>
      <ion-toggle toggle-class="toggle-positive" ng-checked="true" id="settingsTabDefaultPage-toggle2" class=" ">Discovery</ion-toggle>
      <ion-item class="item-divider " id="settingsTabDefaultPage-list-item-divider1">App Notifications</ion-item>
      <ion-toggle toggle-class="toggle-positive" ng-checked="true" id="settingsTabDefaultPage-toggle3" class=" ">Toggle Notifications</ion-toggle>
      <button id="settingsTabDefaultPage-button1" ng-click="sendLogout()" class=" button button-positive  button-block ">Log Out</button>
      <button id="settingsTabDefaultPage-button2" ng-click="deleteAccount()" class=" button button-assertive  button-block ">Delete Account</button>
    </form>
  </ion-content>
</ion-view>
